* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body-class {
  background-color: #dcd7c54b;
}
.container {
  max-width: 90% !important;
}
/* old styling file start */

.notification-news {
  max-width: 100%;
  background-color: #000000dc;
  color: #fff;
  padding: 5px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-text {
  flex-grow: 1;
  margin-right: 10px;
  transition: ease-out 1s; /* Adicionando transição de opacidade */
  text-align: center;
}

.nav-news img {
  max-width: 25px;
}

.close-btn {
  background-color: transparent;
  border: none;
  color: #ffffffb3;
  cursor: pointer;
  font-size: 18px;
}

.close-btn {
  background-color: transparent;
  border: none;
  color: #e9d9d9a2;
  cursor: pointer;
  font-size: 18px;
  padding-bottom: 2px;
}
/*Fim da barra de notificações*/

/*Inicio Cabeçalho*/
.header {
  background-color: rgba(147, 110, 110, 0.548);
  padding: 5px;
}
.header img {
  max-width: 120px;
  padding-left: 15px;
}

/*  old styling file end */
.tittle-register {
  text-align: center;
  margin: 10px 0;
}
.content-container {
  background-color: antiquewhite;
  width: 1000px;
  margin: 0 auto;
}
.login-btn {
  margin: 10px;
  padding: 10px;
}
.input-size-pos {
  width: 500px;
  margin: 0 auto;
}
.input-theme-sytle {
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
}
.input-size-btn {
  width: fit-content;
  margin: 20px auto 10px;
}
.agree-terms {
  padding: 10px 0;
}
.already-account {
  text-align: center;
  padding: 20px 0;
}
.btn-sign {
  padding: 10px 50px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.701);
  border: 1px solid rgb(255, 255, 255);
}
.forgot-btn {
  padding: 0 0 10px;
}
.digit-group {
  display: flex;
  width: 40%;
  gap: 50px;
  margin: 0 auto;
}
.form-control {
  margin: 10px 0 0;
  border-radius: 10px !important;
  width: 50px !important;
  height: 50px !important;
}
.news-tag-img {
  width: 25px;
}
.header-bg-color {
  transition: background-color 0.3s ease;
}
.bg-transparent {
  background-color: transparent;
}
.bg-whitee {
  background-color: rgba(255, 255, 255, 0.585) !important;
  backdrop-filter: blur(2px);
  position: fixed;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.6s;
  z-index: 2;
}
.main-logo-nav {
  width: 80px;
  height: 45px;
}
.footer-content {
  background-color: #000000;
  color: #fff;
}
.footer-tittle {
  font-size: 20px;
  color: #ccc !important;
  font-weight: 300;
}
.footer-list {
  list-style: none;
}
.footer-list a {
  text-decoration: none;
  color: #ffffffb3;
  font-weight: 100;
}
.sub-step-footer {
  margin-top: 35px !important;
}
.step-footer {
  padding: 30px 0;
}
.card-flag {
  width: 45px;
  background-color: #ffffff;
  border-radius: 2px;

  padding: 0;
}
.footer-card-list {
  display: flex;
  gap: 10px;
}
.signin-btn:hover {
  background-color: #ffffff83 !important;
  color: #000000 !important;
}
.signup-btn {
  border: 1px solid #000 !important;
}
.signup-btn:hover {
  background-color: #000 !important;
  color: #fff !important;
}
.banner-responsive {
  height: 600px;
  overflow: hidden;
}
.numbers-part-edit {
  display: flex;
  width: 50%;
  gap: 10px;
  margin: 0 auto;
}
.password-part-edit {
  display: flex;
  width: 50%;
  gap: 10px;
  margin: 0 auto;
}
.address-part-edit {
  display: flex;
  width: 50%;
  gap: 10px;
  margin: 0 auto;
}
.input-size-pos-number {
  width: 150px;
  margin: 0 auto;
}
.swiper-container {
  width: 98%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background: #f0f0f0;
  border: 1px solid #ccc;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  color: transparent !important;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  color: transparent !important;
}
